[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
vcrpy = "*"

[packages]
pyaml = ">=4.2b1"
six = "*"
lxml = "*"
pydicom = "*"
arrow = "*"
natsort = "*"
jsonpath-ng = "*"
requests = {extras = ["security"]}
yaxil = {path = ".",editable = true}
