[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
vcrpy = "*"

[packages]
pyaml = "*"
pydicom = "*"
requests = {extras = ["security"]}
yaxil = {path = ".", editable = true}
